[Desktop Entry]
Name=Install XanMod Kernel
Name[de]=Installiere XanMod Kernel
Name[el]=Εγκατάσταση του πυρήνα XanMod
Name[es]=Instalar el kernel XanMod
Name[fr]=Installer le noyau XanMod
Name[id]=Install Kernel XanMod
Name[it]=Installa Kernel XanMod
Name[ja]=XanMod カーネルのインストール
Name[pl]=Instalacja jądra XanMod
Name[pt_BR]=Instalar o Kernel XanMod
Name[pt_PT]=Instale o XanMod Kernel
Name[ru]=Установить ядро XanMod
Name[zh_CN]=安装 XanMod Kernel
Comment=Install XanMod Kernel
Comment[de]=Installiert den XanMod Kernel
Comment[el]=Εγκατάσταση του πυρήνα XanMod
Comment[es]=Instala el kernel XanMod
Comment[fr]=Installer le noyau XanMod
Comment[id]=Install Kernel XanMod
Comment[it]=Installa il Kernel XanMod
Comment[ja]=XanMod カーネルをインストールします
Comment[pl]=Instalacja jądra XanMod
Comment[pt_BR]=Instalar o Kernel XanMod
Comment[pt_PT]=Para Instalar XanMod Kernel
Comment[ru]=Установить ядро XanMod
Comment[zh_CN]=安装 XanMod Kernel
Exec=/usr/lib/sparky-aptus/bin/install-xanmod-kernel
Icon=preferences-other
Terminal=false
Type=Application
Categories=System;
