[Desktop Entry]
Name=Install Liquorix Kernel
Name[de]=Installiere Liquorix Kernel
Name[el]=Εγκατάσταση του πυρήνα Liquorix
Name[es]=Instalar el kernel Liquorix
Name[fr]=Installer le noyau Liquorix
Name[id]=Install Kernel Liquorix
Name[it]=Installa Kernel Liquorix
Name[ja]=Liquorix カーネルのインストール
Name[pl]=Instalacja jądra Liquorix
Name[pt_BR]=Instalar o Kernel Liquorix
Name[pt_PT]=Instale o Liquorix Kernel
Name[ru]=Установить ядро Liquorix
Name[zh_CN]=安装 Liquorix 内核
Comment=Install Liquorix Kernel
Comment[de]=Installiert den Liquorix Kernel
Comment[el]=Εγκατάσταση του πυρήνα Liquorix
Comment[es]=Instala el kernel Liquorix
Comment[fr]=Installer le noyau Liquorix
Comment[id]=Install Kernel Liquorix
Comment[it]=Installa il Kernel Liquorix
Comment[ja]=Liquorix カーネルをインストールします
Comment[pl]=Instalacja jądra Liquorix
Comment[pt_BR]=Instalar o Kernel Liquorix
Comment[pt_PT]=Para Instalar Liquorix Kernel
Comment[ru]=Установить ядро Liquorix
Comment[zh_CN]=安装 Liquorix Kernel
Exec=/usr/lib/sparky-aptus/bin/install-liquorix
Icon=preferences-other
Terminal=false
Type=Application
Categories=System;
