[Desktop Entry]
Name=Ventoy
Comment=USB Image Writer
Comment[am]=USB ምስል መጻፊያ
Comment[ar]=كاتب الصور على USB.
Comment[az]=USB Şəkil Yazıcısı
Comment[be]=Запісаць вобраз на USB
Comment[bg]=Записване на образ на USB диск
Comment[bs]=Pisač slike USB-a
Comment[ca]=Escriptor d'imatges USB
Comment[cs]=Nástroj pro zápis obrazů systému na USB úložiště
Comment[cy]=Awdur Delwedd USB
Comment[da]=USB-aftryksskriver
Comment[de]=USB-Abbilderstellung
Comment[el]=Εγγραφέας εικόνας USB
Comment[es]=Grabador de imágenes USB
Comment[et]=USB tõmmise kirjutaja
Comment[eu]=USB irudi-idazlea
Comment[fa]=ذخیره کننده‌ی تصویر بر یو اس بی
Comment[fi]=USB-levykuvan kirjoittaja
Comment[fr]=Créateur de clé USB
Comment[fy]=USB Image skriuwer
Comment[gd]=Sgrìobhadair ìomhaighean USB
Comment[gl]=Gravador de imaxes USB
Comment[he]=כותב דמות להתקן נשלף
Comment[hr]=USB zaspisnik slika
Comment[hu]=Pendrive lemezkép-író
Comment[ia]=Scriptor de imagine USB
Comment[id]=Penulis Berkas USB
Comment[is]=USB-diskmyndaskrifari
Comment[it]=Scrittore di Immagine USB
Comment[ja]=USB イメージライタ
Comment[kab]=Amyaru n tugna USB
Comment[kk]=USB-флешқа бейнені жазу
Comment[ko]=USB 이미지 라이터
Comment[ku]=Nivîskarê USB Îmaj'ê
Comment[lt]=USB atvaizdžių rašyklė
Comment[lv]=USB zibatmiņas rakstītājs
Comment[ml]=യു എസ് ബി ചിത്രം എഴുതുന്നയാൾ
Comment[mr]=USB वर प्रतिमा लिहीनारा
Comment[ms]=Penulis Imej USB
Comment[nap]=Scrittore d'immagine USB
Comment[nb]=USB-avtrykkskriver
Comment[nds]=USB Abbild Schreiber
Comment[ne]=USB छवि लेखक
Comment[nl]=Schijfkopieschrijver voor USB
Comment[oc]=Creator de clau USB
Comment[pa]=USB ਈਮੇਜ਼ ਰਾਈਟਰ
Comment[pl]=Zapisywanie obrazów płyt na USB
Comment[pt]=Gravador de imagens em USB
Comment[pt_BR]=Gravador de Imagem USB
Comment[pt_PT]=Gravador de imagens em USB
Comment[ro]=Scriitor imagine USB
Comment[ru]=Запись образа на USB-накопитель
Comment[sk]=Tvorca USB obrazu
Comment[sl]=Zapisovalnik odtisov USB
Comment[sq]=Shkrues imazhi USB
Comment[sr]=Уписивач одраза на УСБ диск
Comment[sv]=USB-avbildsskrivare
Comment[ta]=யுஎஸ்பி பட எழுதி
Comment[tg]=Сабти тасвири диски USB
Comment[th]=โปรแกรมเขียนอิมเมจ USB
Comment[tr]=USB Kalıp Yazıcı
Comment[uk]=Запис образу на USB-накопичувач
Comment[ur]=یو.ایس.بی ایمیج رائٹر
Comment[uz]=USB хотира қурилмаси тасвирини ёзиш учун дастур
Comment[vi]=Trình Ghi Ảnh USB
Comment[zh_CN]=USB 镜像写入工具
Comment[zh_HK]=USB 映像檔寫入程式
Comment[zh_TW]=USB 映像檔寫入程式
Exec=remsu /usr/lib/sparky-aptus/bin/sparky-aptus-tools ventoy
Terminal=false
Type=Application
Icon=usb-creator
Categories=System;
