[Desktop Entry]
Name=Install Debian Kernel
Name[de]=Installiere Debian Kernel
Name[el]=Εγκατάσταση του πυρήνα Debian
Name[es]=Instalar el kernel Debian
Name[fr]=Installer le noyau Debian
Name[id]=Instal Kernel Debian
Name[it]=Installa Debian Kernel
Name[ja]=Debian カーネルのインストール
Name[pl]=Instalacja jądra Debian
Name[pt_BR]=Instalar o kernel da Debian
Name[pt_PT]=Instale o Debian Kernel
Name[ru]=Установить ядро Debian
Name[zh_CN]=安装 Debian 内核
Comment=Install Debian Kernel
Comment[de]=Installiert den Debian Kernel
Comment[el]=Εγκατάσταση του πυρήνα Debian
Comment[es]=Instala el kernel Debian
Comment[fr]=Installer le noyau Debian
Comment[id]=Instal Kernel Debian
Comment[it]=Installa il Kernel per Debian
Comment[ja]=Debian カーネルをインストールします
Comment[pl]=Instalacja jądra Debian
Comment[pt_BR]=Instalar o kernel do Debian
Comment[pt_PT]=Para Instalar o Debian Kernel
Comment[ru]=Установить ядро Debian
Comment[zh_CN]=安装 Debian 内核
Exec=/usr/lib/sparky-aptus/bin/install-debian-kernel
Icon=preferences-other
Terminal=false
Type=Application
Categories=System;
