[Desktop Entry]
Name=Remove old system kernel
Name[de_DE]=Entferne alte System Kernel
Name[el_GR]=Διαγραφή των παλιότερων πυρήνων του συστήματος
Name[es_AR]=Eliminar kernels viejos del sistema
Name[fr_FR]=Supprimer les vieux noyaux du système
Name[it_IT]=Rimuovi i vecchi kernel
Name[ja_JP]=古いシステムカーネルの削除
Name[pl_PL]=Usuń stare jądro systemu
Name[pt_BR]=Remover o kernel do sistema antigo
Name[pt_PT]=Remove o kernel do sistema antigo
Name[ru_RU]=Удалить старое системное ядро
Comment=Remove old, non-active system kernel
Comment[de_DE]=Entfernt alte, nicht aktive System Kernel
Comment[el_GR]=Διαγραφή των παλιότερωνν ανενεργών πυρήνων του συστήματος
Comment[es_AR]=Elimina kernels del sistema viejos e inactivos
Comment[fr_FR]=Supprimer les vieux noyaux inactifs du système
Comment[it_IT]=Rimuove i kernel vecchi ed inutilizzati dal sistema
Comment[ja_JP]=有効ではない古いシステムカーネルを削除します
Comment[pl_PL]=Usuń stare, nieaktywne jądro systemu
Comment[pt_BR]=Remover um kernel antigo, ou um kernel não-ativo no sistema
Comment[pt_PT]=Remove o antigo kernel do sistema inativo
Comment[ru_RU]=Удалить старое неактивное системное ядро
Exec=/usr/lib/sparky-aptus/bin/old-kernel-remover
Icon=preferences-other
Terminal=false
Type=Application
Categories=System;
