[Desktop Entry]
Name=Remove VirtualBox Guest Utils
Name[de_DE]=Entferne die VirtualBox Guest Utils
Name[el_GR]=Απεγκατάσταση πακέτου VirtualBox Guest Utils
Name[es_AR]=Eliminar Utilidades del invitado de VirtualBox
Name[fr_FR]=Supprimer les utilitaires d'invité de VirtualBox
Name[it_IT]=Rimuovi VirtualBox Guest Utils
Name[ja_JP]=VirtualBox Guest Utils の削除
Name[pl_PL]=Usuń VirtualBox Guest Utils
Name[pt_BR]=Remover o Utilitário Hospedeiro VirtualBox
Name[pt_PT]=Remove o Cliente VirtualBox
Name[ru_RU]=Удалить VirtualBox Guest Utils
Comment=Remove VirtualBox Guest Utils
Comment[de_DE]=Entfernt die VirtualBox Guest Utils
Comment[el_GR]=Απεγκατάσταση πακέτου VirtualBox Guest Utils
Comment[es_AR]=Elimina Utilidades del invitado de VirtualBox
Comment[fr_FR]=Supprimer les utilitaires d'invité de VirtualBox
Comment[it_IT]=Rimuove le VirtualBox Guest Utils
Comment[ja_JP]=VirtualBox Guest Utils を削除します
Comment[pl_PL]=Usuń VirtualBox Guest Utils
Comment[pt_BR]=Remover o Utilitário Hospedeiro VirtualBox
Comment[pt_PT]=Remove o Cliente VirtualBox
Comment[ru_RU]=Удалить VirtualBox Guest Utils
Exec=/usr/lib/sparky-aptus/bin/vboxguest-remove
Icon=virtualbox
Terminal=false
Type=Application
Categories=System;
