[Desktop Entry]
Name=Refresh package list
Name[de_DE]=Aktualisiere die Paket Liste
Name[el_GR]=Ανανέωση της λίστας πακέτων
Name[es_AR]=Actualizar la lista de paquetes
Name[fr_FR]=Actualiser la liste des paquets
Name[it_IT]=Aggiorna la lista dei pacchetti
Name[ja_JP]=パッケージリストの更新
Name[pl_PL]=Aktualizacja listy pakietów
Name[pt_BR]=Refrescar (refresh) a lista de pacotes
Name[pt_PT]=Çista de pacotes de atualização
Name[ru_RU]=Обновить список пакетов
Comment=Update package list
Comment[de_DE]=Bringt die Paket Liste auf den neusten Stand
Comment[el_GR]=Ανανέωση της λίστας πακέτων
Comment[es_AR]=Actualiza la lista de paquetes
Comment[fr_FR]=Actualiser la liste des paquets
Comment[it_IT]=Aggiorna la lista dei pacchetti
Comment[ja_JP]=パッケージリストを更新します
Comment[pl_PL]=Aktualizacja listy pakietów
Comment[pt_BR]=Atualizar a lista de pacote
Comment[pt_PT]=Lista de pacote de atualização
Comment[ru_RU]=Обновить список пакетов
Exec=/usr/lib/sparky-aptus/bin/update
Icon=txt
Terminal=false
Type=Application
Categories=System;
