[Desktop Entry]
Name=Safely upgrade the system
Name[de_DE]=System sicher upgraden
Name[el_GR]=Ασφαλής ενημέρωση συστήματος
Name[es_AR]=Actualizar su sistema en forma segura
Name[fr_FR]=Mettre à jour le système de façon sure
Name[it_IT]=Aggiornamento sicuro del sistema
Name[ja_JP]=安全にシステムをアップグレード
Name[pl_PL]=Bezpieczna aktualizacja systemu
Name[pt_BR]=Atualizar com segurança o sistema
Name[pt_PT]=Atualiza o sistema com segurança
Name[ru_RU]=Безопасно обновить систему
Comment=Safely upgrade the system
Comment[de_DE]=System sicher upgraden
Comment[el_GR]=Ασφαλής ενημέρωση συστήματος
Comment[es_AR]=Actualiza su sistema en forma segura
Comment[fr_FR]=Mettre à jour le système de façon sure
Comment[it_IT]=Aggiornamento sicuro del sistema
Comment[ja_JP]=安全にシステムをアップグレードします
Comment[pl_PL]=Bezpieczna aktualizacja systemu
Comment[pt_BR]=Atualizar com segurança o sistema
Comment[pt_PT]=Atualiza o sistema com segurança
Comment[ru_RU]=Безопасно обновить систему
Exec=/usr/lib/sparky-aptus/bin/upgrade
Icon=system-software-installer
Terminal=false
Type=Application
Categories=System;
