[Desktop Entry]
Name=Fix broken packages by APT
Name[de_DE]=Repariere von APT beschädigte Pakete
Name[el_GR]=Επιδιόρθωση κατεστραμμένων πακέτων με την εντολή APT
Name[es_AR]=Reparar paquetes rotos mediante APT
Name[fr_FR]=Réparer avec APT les paquets cassés
Name[it_IT]=Aggiusta i pacchetti danneggiati con APT
Name[ja_JP]=APT 破損パッケージの修正
Name[pl_PL]=Napraw uszkodzone pakiety za pomocą APT
Name[pt_BR]=Consertar os pacotes quebrados com o APT
Name[pt_PT]=Corrigir pacotes danificados por o APT
Name[ru_RU]=Исправить сломанные пакеты с помощью APT
Comment=Check and fix by APT broken packages not installed/upgraded correctly
Comment[de_DE]=Prüft und repariert Pakete, die von APT nicht korrekt installiert/aktualisiert wurden
Comment[el_GR]=Έλεγχος και διόρθωση κατεστραμμένων πακέτων που δεν εγκαταστάθηκαν/ενημερώθηκαν σωστά, με την εντολή APT
Comment[es_AR]=Verifica y repara mediante APT los paquetes rotos no instalados/actualizados correctamente
Comment[fr_FR]=Vérifier et réparer avec APT les paquets cassés non-installés:mis à jour correctement
Comment[ja_JP]=APT でインストール・更新できない壊れたパッケージを確認・修正します
Comment[it_IT]=Controlla ed aggiusta col comando APT i pacchetti danneggiati o non installati/aggiornati correttamente
Comment[pl_PL]=Sprawdź i napraw uszkodzone pakiety za pomocą APT
Comment[pt_BR]=Verificar e consertar os pacotes quebrados que não foram instalados/atualizados corretamente com o APT
Comment[pt_PT]=Verifica e corrige os pacotes danificados que foram instalados / atualizados corretamente pelo APT
Comment[ru_RU]=Проверить и исправить с помощью APT сломанные пакеты, некорректно установленные/обновлённые
Exec=/usr/lib/sparky-aptus/bin/fix-apt
Icon=system-software-install
Terminal=false
Type=Application
Categories=System;
