[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=BleachBit
Comment=Unnecessary file cleaner
Comment[ar]=منظّف الملفات غير الضرورية
Comment[be]=Неабавязковы уборшчык файлаў
Comment[bg]=Изчистване на непотребни файлове
Comment[ca]=No cal eliminar fitxers
Comment[cs]=Čistič disku od nepotřebných souborů
Comment[da]=Unødvendig fil-oprydder
Comment[de]=Reiniger für unnötige Dateien
Comment[el]=Καθαριστής περιττών αρχείων
Comment[eo]=Purigilo de nenecesaj dosieroj
Comment[es]=Limpiador de archivos innecesarios
Comment[et]=Mittevajalike failide puhastaja
Comment[eu]=Beharrezko ez diren fitxategien garbitzailea
Comment[fa]=پاک کننده پرونده های بدرد نخور
Comment[fi]=Turhien tiedostojen puhdistaja
Comment[fr]=Nettoyeur de fichiers inutiles
Comment[gl]=Limpador de ficheiros innecesarios
Comment[he]=מנקה הקבצים הבלתי נחוצים
Comment[hi]=अनावश्यक क्लीनर फ़ाइल
Comment[hr]=Čistač nepotrebnih datoteka
Comment[hu]=Szükségtelen fájl törlő
Comment[ia]=Nettator de files non necessari
Comment[id]=Pembersih berkas yang tidak diperlukan
Comment[it]=Ripulisce file non necessari
Comment[ja]=不要ファイルクリーナー
Comment[ko]=불필요한 파일 청소기
Comment[ku]=Paqijkirina pelên nehewce
Comment[ky]=Керексиз файлдардын тазалагычы
Comment[lt]=Nereikalingų failų šalinimas
Comment[ms]=Pembersih fail yang tak perlu
Comment[nb]=Unødvendig filrenser
Comment[nl]=Verwijder overbodige bestanden
Comment[nn]=Renskar for unødige filer
Comment[pl]=Program czyszczący niepotrzebne pliki
Comment[pt]=Limpeza de ficheiros desnecessários
Comment[pt_BR]=Limpar arquivos desnecessários
Comment[ro]=Curățarea fișierelor inutile
Comment[ru]=Очистка от ненужных файлов
Comment[sk]=Čistenie nepotrebných súborov
Comment[sl]=Čistilnik nepotrebnih datotek
Comment[sq]=Pastrues filesh i panevojshëm
Comment[sr]=Чистач непотребних датотека
Comment[sv]=Städare av onödiga filer
Comment[ta]=தேவையற்ற கோப்புகளை நீக்கும் மென்பொருள்
Comment[th]=เครื่องมือลบแฟ้มที่ไม่จำเป็น
Comment[tr]=Gereksiz dosya temizleyici
Comment[uk]=Необов'язкова чистка файлів
Comment[uz]=Keraksiz fayl tozalagich
Comment[vi]=Trình dọn dẹp tập tin không cần thiết
Comment[zh_CN]=不必要文件清理器
Comment[zh_TW]=無用檔案清理員
Exec=remsu /usr/lib/sparky-aptus/bin/sparky-aptus-tools bleachbit
Icon=bleachbit
Type=Application
Categories=Applications;System;
