[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Gufw
Comment=Firewall Configuration
Comment[ar]=إعدادات الجدار الناري
Comment[ast]=Configuración del tornafueos
Comment[bg]=Конфигуриране на защитна стена
Comment[cs]=Nastavení firewallu
Comment[da]=Firewallkonfiguration
Comment[de]=Firewall-Konfiguration
Comment[el]=Ρύθμιση τείχους προστασίας
Comment[eo]=Fajroŝirmilaj agordoj
Comment[es]=Configuración del cortafuegos
Comment[et]=Tulemüüri seadistus
Comment[fi]=Palomuurin asetukset
Comment[fr]=Configuration du pare-feu
Comment[gl]=Configuración da devasa
Comment[hr]=Postavke vatrozida
Comment[hrx]=Fajř-vannt-ʃtelluŋŋ
Comment[hu]=Tűzfalbeállítás
Comment[id]=Konfigurasi firewall
Comment[is]=Stillingar eldveggs
Comment[it]=Configurazione del firewall
Comment[ja]=ファイアウォール設定ツール
Comment[ko]=방화벽 설정
Comment[ku]=Veavakirina Dîwarê Ewlehiyê
Comment[lt]=Užkardos konfigūravimas
Comment[lv]=Ugunsmūra konfigurācija
Comment[ms]=Konfigurasi Dinding Api
Comment[nb]=Brannmur-oppsett
Comment[nl]=Firewall-configuratie
Comment[oc]=Configuracion del parafuòc
Comment[pl]=Konfiguracja zapory sieciowej
Comment[pt]=Configuração da firewall
Comment[pt_BR]=Configuração do Firewall
Comment[ro]=Configurare Firewall
Comment[ru]=Настройка межсетевого экрана
Comment[si]=ගිනිපවුරු සැකසුම්
Comment[sk]=Nastavenia brány firewall
Comment[sl]=Nastavitev požarnega zidu
Comment[sq]=Konfigurimi i Murit mbrojtës
Comment[sr]=Подешавање мрежне баријере
Comment[sv]=Brandväggs-konfiguration
Comment[ta]=தீச்சுவர் அமைப்பு
Comment[tr]=Güvenlik Duvarı Yapılandırması
Comment[ug]=تور توسۇق سەپلەش
Comment[uk]=Налаштування брандмауера
Comment[vi]=Cấu hình tường lửa
Comment[zh_CN]=防火墙配置
Comment[zh_TW]=防火牆設定
Exec=remsu /usr/lib/sparky-aptus/bin/sparky-aptus-tools gufw
Icon=gufw
Type=Application
Categories=Applications;System;
