[Desktop Entry]
Name=Install Debian Kernel
Name[de_DE]=Installiere Debian Kernel
Name[el_GR]=Εγκατάσταση του πυρήνα Debian
Name[es_AR]=Instalar el kernel Debian
Name[fr_FR]=Installer le noyau Debian
Name[id_ID]=Instal Kernel Debian
Name[it_IT]=Installa Debian Kernel
Name[ja_JP]=Debian カーネルのインストール
Name[pl_PL]=Instalacja jądra Debian
Name[pt_BR]=Instalar o Kernel Debian
Name[pt_PT]=Instale o Debian Kernel
Name[ru_RU]=Установить ядро Debian
Comment=Install Debian Kernel
Comment[de_DE]=Installiert den Debian Kernel
Comment[el_GR]=Εγκατάσταση του πυρήνα Debian
Comment[es_AR]=Instala el kernel Debian
Comment[fr_FR]=Installer le noyau Debian
Comment[id_ID]=Instal Kernel Debian
Comment[it_IT]=Installa il Kernel per Debian
Comment[ja_JP]=Debian カーネルをインストールします
Comment[pl_PL]=Instalacja jądra Debian
Comment[pt_BR]=Instalar o Kernel Debian
Comment[pt_PT]=Para Instalar o Debian Kernel
Comment[ru_RU]=Установить ядро Debian
Exec=/usr/lib/sparky-aptus/bin/install-debian-kernel
Icon=preferences-other
Terminal=false
Type=Application
Categories=System;
