[Desktop Entry]
Name=Install language packages
Name[de]=Installiere Sprachpakete
Name[el]=Εγκατάσταση πακέτων γλώσσας
Name[es]=Instalar paquetes de idiomas
Name[fr]=Installer les paquets de langue
Name[id]=Instal paket bahasa
Name[it]=Installa pacchetti di localizzazione
Name[ja]=言語パッケージのインストール
Name[pl]=Instalacja pakietów językowych
Name[pt_BR]=Instalar pacotes de idiomas
Name[pt_PT]=Instalar os pacotes de idiomas
Name[ru]=Установить языковые пакеты
Comment=Install missing language packages
Comment[de]=Installiert fehlende Sprachpakete
Comment[el]=Εγκατάσταση πακέτων γλώσσας που λείπουν
Comment[es]=Instala los paquetes de idiomas faltantes
Comment[fr]=Installer les paquets de langue manquants
Comment[id]=Instal paket bahasa yang hilang
Comment[it]=Installa i pacchetti contenenti i file di traduzione che mancano al sistema
Comment[ja]=不足している言語パッケージをインストールします
Comment[pl]=Instalacja brakujących pakietów językowych
Comment[pt_BR]=Instalar pacotes de idiomas ausentes
Comment[pt_PT]=Instala os pacotes de idiomas em falta
Comment[ru]=Установить отсутствующие языковые пакеты
Exec=/usr/lib/sparky-aptus/bin/sparky-locale
Icon=preferences-desktop-locale
Terminal=false
Type=Application
Categories=System;
