[Desktop Entry]
Name=Install language packages
Name[de_DE]=Installiere Sprachpakete
Name[el_GR]=Εγκατάσταση πακέτων γλώσσας
Name[es_AR]=Instalar paquetes de idiomas
Name[fr_FR]=Installer les paquets de langue
Name[it_IT]=Installa pacchetti di localizzazione
Name[ja_JP]=言語パッケージのインストール
Name[pl_PL]=Instalacja pakietów językowych
Name[pt_BR]=Instalar os pacotes de linguagens
Name[pt_PT]=Instalar os pacotes de idiomas
Name[ru_RU]=Установить языковые пакеты
Comment=Install missing language packages
Comment[de_DE]=Installiert fehlende Sprachpakete
Comment[el_GR]=Εγκατάσταση απολεσθέντων πακέτων γλώσσας
Comment[es_AR]=Instala los paquetes de idiomas faltantes
Comment[fr_FR]=Installer les paquets de langue manquants
Comment[it_IT]=Installa i pacchetti contenenti i file di traduzione che mancano al sistema
Comment[ja_JP]=不足している言語パッケージをインストールします
Comment[pl_PL]=Instalacja brakujących pakietów językowych
Comment[pt_BR]=Instalar os pacotes de linguagens que estão faltando
Comment[pt_PT]=Instala os pacotes de idiomas em falta
Comment[ru_RU]=Установить отсутствующие языковые пакеты
Exec=/usr/lib/sparky-aptus/bin/sparky-locale
Icon=preferences-desktop-locale
Terminal=false
Type=Application
Categories=System;
