[Desktop Entry]
Name=Install Liquorix Kernel
Name[de_DE]=Installiere Liquorix Kernel
Name[el_GR]=Εγκατάσταση του πυρήνα Liquorix
Name[es_AR]=Instalar el kernel Liquorix
Name[fr_FR]=Installer le noyau Liquorix
Name[it_IT]=Installa Kernel Liquorix
Name[ja_JP]=Liquorix カーネルのインストール
Name[pl_PL]=Instalacja jądra Liquorix
Name[pt_BR]=Instalar o Kernel Liquorix
Name[pt_PT]=Instale o Liquorix Kernel
Name[ru_RU]=Установить ядро Liquorix
Comment=Install Liquorix Kernel
Comment[de_DE]=Installiert den Liquorix Kernel
Comment[el_GR]=Εγκατάσταση του πυρήνα Liquorix
Comment[es_AR]=Instala el kernel Liquorix
Comment[fr_FR]=Installer le noyau Liquorix
Comment[it_IT]=Installa il Kernel Liquorix
Comment[ja_JP]=Liquorix カーネルをインストールします
Comment[pl_PL]=Instalacja jądra Liquorix
Comment[pt_BR]=Instalar o Kernel Liquorix
Comment[pt_PT]=Para Instalar Liquorix Kernel
Comment[ru_RU]=Установить ядро Liquorix
Exec=/usr/lib/sparky-aptus/bin/install-liquorix
Icon=preferences-other
Terminal=false
Type=Application
Categories=System;
