[Desktop Entry]
Name=Remove old system kernel
Name[de]=Entferne alte System Kernel
Name[el]=Διαγραφή των παλιότερων πυρήνων του συστήματος
Name[es]=Eliminar kernels viejos del sistema
Name[fr]=Supprimer les vieux noyaux du système
Name[id]=Hapus kernel sistem lama
Name[it]=Rimuovi i vecchi kernel
Name[ja]=古いシステムカーネルの削除
Name[pl]=Usuń stare jądro systemu
Name[pt_BR]=Remover o kernel do sistema antigo
Name[pt_PT]=Remove o kernel do sistema antigo
Name[ru]=Удалить старое системное ядро
Comment=Remove old, non-active system kernel
Comment[de]=Entfernt alte, nicht aktive System Kernel
Comment[el]=Διαγραφή των παλιότερωνν ανενεργών πυρήνων του συστήματος
Comment[es]=Elimina kernels del sistema viejos e inactivos
Comment[fr]=Supprimer les vieux noyaux inactifs du système
Comment[id]=Hapus kernel sistem lama dan tidak aktif
Comment[it]=Rimuove i kernel vecchi ed inutilizzati dal sistema
Comment[ja]=有効ではない古いシステムカーネルを削除します
Comment[pl]=Usuń stare, nieaktywne jądro systemu
Comment[pt_BR]=Remover o kernel do sistema antigo e não ativo
Comment[pt_PT]=Remove o antigo kernel do sistema inativo
Comment[ru]=Удалить старое неактивное системное ядро
Exec=/usr/lib/sparky-aptus/bin/old-kernel-remover
Icon=preferences-other
Terminal=false
Type=Application
Categories=System;
