[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=USB Disk Formatter
Name[de]=USB Formatter Tool
Name[es]=Formateador USB
Name[fr]=Formatage USB
Name[it]=USB Formatter
Name[ja]=USB フォーマット
Name[pl]=Formatowanie dysku USB
Name[pt_BR]=Formatador USB
Name[pt_PT]=Formatter USB
Name[sv]=USB-formaterare
Comment=Format USB disk
Comment[de]=Formatiert USB-Speicher
Comment[es]=Formatea un disco USB
Comment[fr]=Formater un disque USB
Comment[it]=Formatta penne USB
Comment[ja]=USB ディスクのフォーマット
Comment[pl]=Formatowanie dysku USB
Comment[pt_BR]=Formatar drivers USBs
Comment[pt_PT]=Formatar driver USB
Comment[sv]=Formaterar USB-enhet
Exec=remsu /usr/lib/sparky-aptus/bin/sparky-aptus-tools sparky-usb-formatter
Icon=usb-creator
Type=Application
Categories=Applications;System;
