[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Sparky Backup System
Comment=SparkyLinux system backup tool
Comment[it_IT]=Strumentto di SparkyLinux per effettuare backup di sistema
Comment[pl_PL]=Narzędzie do tworzenia kopii zapasowej SparkyLinux
Comment[pt_PT]=Ferramenta de cópias de segurança do SparkyLinux
Exec=remsu /usr/lib/sparky-aptus/bin/sparky-aptus-tools sparky-backup-sys
Icon=/usr/share/icons/sparky/sparkybackupsys/sparky.png
Type=Application
Categories=Applications;System;
