[Desktop Entry]
Name=VirtualBox
Comment=Run several virtual systems on a single host computer
Comment[de]=Mehrere virtuelle Maschinen auf einem einzigen Rechner ausführen
Comment[it]=Esegui più macchine virtuali su un singolo computer
Comment[ko]=가상 머신
Comment[pl]=Uruchamianie wielu systemów wirtualnych na jednym komputerze gospodarza
Comment[ru]=Запуск нескольких виртуальных машин на одном компьютере
Comment[sv]=Kör flera virtuella system på en enda värddator
Exec=remsu /usr/lib/sparky-aptus/bin/sparky-aptus-tools virtualbox
Icon=virtualbox
Terminal=false
Type=Application
Categories=System;
