[Desktop Entry]
Name=Remove package from system
Name[de]=Entferne Pakete von dem System
Name[el]=Απεγκατάσταση πακέτου από το σύστημα
Name[es]=Eliminar paquetes de su sistema
Name[fr]=Supprimer des paquets du système
Name[id]=Hapus paket dari sistem
Name[it]=Rimuovi un pacchetto dal sistema
Name[ja]=システムからパッケージを削除
Name[pl]=Usuń pakiet
Name[pt_BR]=Remover pacote do sistema
Name[pt_PT]=Remove o pacote de sistema
Name[ru]=Удалить пакет из системы
Name[zh_CN]=从系统中卸载软件包
Comment=Remove selected package from the system
Comment[de]=Entfernt ausgewählte Pakete von dem System
Comment[el]=Απεγκατάσταση επιλεγμένου πακέτου από το σύστημα
Comment[es]=Elimina paquetes seleccionados de su sistema
Comment[fr]=Supprimer des paquets sélectionnés du système
Comment[id]=Hapus paket yang dipilih dari sistem
Comment[it]=Rimuove il pacchetto selezionato dal sistema
Comment[ja]=選択されたパッケージをシステムから削除します
Comment[pl]=Usunięcie wybranego pakietu z systemu
Comment[pt_BR]=Remover pacote selecionado do sistema
Comment[pt_PT]=Remove o pacote selecionado do sistema
Comment[ru]=Удалить выбранный пакет из системы
Comment[zh_CN]=从系统中卸载选中的软件包
Exec=/usr/lib/sparky-aptus/bin/quick-remove
Icon=application-x-deb
Terminal=false
Type=Application
Categories=System;
