[Desktop Entry]
Name=Install i686-PAE Debian Kernel
Name[de_DE]=Installiere i686-PAE Debian Kernel
Name[el_GR]=Εγκατάσταση του πυρήνα Debian i686-PAE
Name[es_AR]=Instalar el kernel Debian i686-PAE
Name[fr_FR]=Installer le noyau Debian i686-PAE
Name[it_IT]=Installa Debian i686-PAE Kernel
Name[ja_JP]=i686-PAE Debian カーネルのインストール
Name[pl_PL]=Instalacja jądra Debian i686-PAE
Name[pt_BR]=Instalar o Kernel Debian  i686-PAE
Name[pt_PT]=Instale o i686-PAE Debian Kernel
Name[ru_RU]=Установить ядро Debian i686-PAE
Comment=Install i686-PAE Debian Kernel
Comment[de_DE]=Installiert den i686-PAE Debian Kernel
Comment[el_GR]=Εγκατάσταση του πυρήνα Debian i686-PAE
Comment[es_AR]=Instala el kernel Debian i686-PAE
Comment[fr_FR]=Installer le noyau Debian i686-PAE
Comment[it_IT]=Installa il Kernel i686-PAE per Debian
Comment[ja_JP]=i686-PAE Debian カーネルをインストールします
Comment[pl_PL]=Instalacja jądra Debian i686-PAE
Comment[pt_BR]=Instalar o Kernel Debian  i686-PAE
Comment[pt_PT]=Para Instalar o i686-PAE Debian Kernel
Comment[ru_RU]=Установить ядро Debian i686-PAE
Exec=/usr/lib/sparky-aptus/bin/install-kernel-pae
Icon=preferences-other
Terminal=false
Type=Application
Categories=System;
