[Desktop Entry]
Name=Install or reinstall DEB package from a local disk
Name[de_DE]=Installiere oder reinstalliere DEB package aus einer lokalen Quelle
Name[el_GR]=Εγκατάσταση/επανεγκατάσταση πακέτου DEB από τοπικό δίσκο
Name[es_AR]=Instalar o reinstalar paquetes DEB de su disco local
Name[fr_FR]=Installer ou réinstaller un paquet DEB depuis un disque local
Name[it_IT]=Installa o reinstalla pacchetti DEB da un disco locale
Name[ja_JP]=ローカルディスク DEB パッケージ インストール・再インストール
Name[pl_PL]=Instalacja lub reinstalacja pakietu DEB z dysku
Name[pt_BR]=Instalar ou reinstalar pacote DEB de um disco local
Name[pt_PT]=Instalar ou reinstalar o pacote DEB de um disco local
Name[ru_RU]=Установить или переустановить DEB-пакет с локального диска
Comment=Install or reinstall DEB package from a local disk
Comment[de_DE]=Installiert bzw. installiert ein DEB Paket erneut
Comment[el_GR]=Εγκατάσταση/επανεγκατάσταση πακέτου DEB από τοπικό δίσκο
Comment[es_AR]=Instala o reinstala paquetes DEB de su disco local
Comment[fr_FR]=Installer ou réinstaller un paquet DEB depuis un disque local
Comment[it_IT]=Installa o reinstalla pacchetti DEB daun disco locale
Comment[ja_JP]=ローカルディスクから DEB パッケージ インストール・再インストールを行います
Comment[pl_PL]=Instalacja lub reinstalacja pakietu DEB z dysku
Comment[pt_BR]=Instalar ou reinstalar pacote DEB de um disco local
Comment[pt_PT]=Instalar ou reinstalar o pacote DEB de um disco local
Comment[ru_RU]=Установить или переустановить DEB-пакет с локального диска
Exec=/usr/lib/sparky-aptus/bin/install-deb
Icon=application-x-deb
Terminal=false
Type=Application
Categories=System;
