[Desktop Entry]
Name=Edit main repository
Name[de]=Editiere die Main Repositories
Name[el]=Επεξεργασία βασικού αποθετηρίου
Name[es]=Editar la lista del repositorio principal
Name[fr]=Éditer le dépôt principal
Name[id]=Edit repositori utama
Name[it]=Modifica i repositories principaly
Name[ja]=メインリボジトリの編集
Name[pl]=Edycja głównych repozytoriów
Name[pt_BR]=Editar repositório principal
Name[pt_PT]=Editar Repositorio principal
Name[ru]=Редактировать главный репозиторий
Name[zh_CN]=编辑主要软件源
Comment=Edit main repository list
Comment[de]=Anpassen der Main Repository Liste
Comment[el]=Επεξεργασία λίστας βασικού αποθετηρίου
Comment[es]=Edita la lista del repositorio principal
Comment[fr]=Éditer la liste du dépôt principal
Comment[id]=Edit daftar repositori utama
Comment[it]=Modifica la lista dei principali repositories
Comment[ja]=メインリボジトリリストを編集します
Comment[pl]=Edycja listy głównych repozytoriów
Comment[pt_BR]=Editar lista de repositórios principais
Comment[pt_PT]=Editar lista de repositórios principal
Comment[ru]=Редактировать список главного репозитория
Comment[zh_CN]=编辑主要软件源列表
Exec=/usr/lib/sparky-aptus/bin/edit-repo-main
Icon=txt
Terminal=false
Type=Application
Categories=System;
