[Desktop Entry]
Name=Clean User Cache
Name[pl]=Usuń Cache Użytkownika
Name[pt_BR]=Remover Cache do Usuário
Comment=Remove cache from user home directory
Comment[pl]=Usuń cache z katalogu domowego użytkownika
Comment[pt_BR]=Remove os cache do diretório home do usuário
Exec=/usr/lib/sparky-aptus/bin/cache-cleaner
Icon=application-x-trash
Terminal=false
Type=Application
Categories=System;
