[Desktop Entry]
Name=Edit main repository
Name[de_DE]=Editiere die Main Repositories
Name[el_GR]=Επεξεργασία βασικού αποθετηρίου
Name[es_AR]=Editar la lista del repositorio principal
Name[fr_FR]=Éditer le dépôt principal
Name[it_IT]=Modifica i repositories principaly
Name[ja_JP]=メインリボジトリの編集
Name[pl_PL]=Edycja głównych repozytoriów
Name[pt_BR]=Editar repositório principal
Name[pt_PT]=Editar Repositorio principal
Name[ru_RU]=Редактировать главный репозиторий
Comment=Edit main repository list
Comment[de_DE]=Anpassen der Main Repository Liste
Comment[el_GR]=Επεξεργασία λίστας βασικού αποθετηρίου
Comment[es_AR]=Edita la lista del repositorio principal
Comment[fr_FR]=Éditer la liste du dépôt principal
Comment[it_IT]=Modifica la lista dei principali repositories
Comment[ja_JP]=メインリボジトリリストを編集します
Comment[pl_PL]=Edycja listy głównych repozytoriów
Comment[pt_BR]=Editar a lista principal do repositório
Comment[pt_PT]=Editar lista de repositórios principal
Comment[ru_RU]=Редактировать список главного репозитория
Exec=/usr/lib/sparky-aptus/bin/edit-repo-main
Icon=txt
Terminal=false
Type=Application
Categories=System;
