[Desktop Entry]
Name=GDebi
Comment=Package Installer
Comment[ar]=مثبت الحزم
Comment[ast]=Instalador de paquetes
Comment[bg]=Инсталатор на пакети
Comment[bn]=প্যাকেজ ইনস্টলার
Comment[bs]=Paketni instaler
Comment[ca]=Instal·lador de paquets
Comment[ca@valencia]=Instal·lador de paquets
Comment[cs]=Instalátor balíků
Comment[da]=Pakkeinstalleringsprogram
Comment[de]=Paket-Installationsprogramm
Comment[el]=Εγκατάσταση πακέτων
Comment[en_AU]=Package Installer
Comment[en_CA]=Package Installer
Comment[en_GB]=Package Installer
Comment[eo]=Instalilo de pakaĵoj
Comment[es]=Instalador de paquetes
Comment[et]=Paketti paigaldus
Comment[eu]=Pakete-instalatzailea
Comment[fi]=Paketinasentaja
Comment[fo]=Pakkainnleggjari
Comment[fr]=Installateur de paquets
Comment[gl]=Instalador de paquetes
Comment[he]=מתקין החבילות
Comment[hr]=Paketni instaler
Comment[hu]=Csomagtelepítő
Comment[id]=Pemasang Paket
Comment[it]=Installatore pacchetto
Comment[ja]=パッケージインストーラー
Comment[ko]=패키지 설치 프로그램
Comment[ku]=Sazgera Paketan
Comment[lt]=Paketų diegyklė
Comment[ms]=Pemasang Pakej
Comment[nb]=Pakkeinstallerer
Comment[nl]=Pakketinstalleerder
Comment[oc]=Installador de paquets
Comment[pl]=Instalator pakietów
Comment[pt]=Instalador de Pacotes
Comment[pt_BR]=Instalador de Pacotes
Comment[ro]=Instalator pachete
Comment[ru]=Программа установки пакетов
Comment[sk]=Inštalátor balíkov
Comment[sl]=Namestilnik paketov
Comment[sr]=Инсталер пакета
Comment[sv]=Paketinstallerare
Comment[te]=ప్యాకేజీ స్థాపకం
Comment[tr]=Paket Kurucu
Comment[uk]=Встановлювач пакунків
Comment[ur]=پیکج تنصیب کار
Comment[zh_CN]=软件包安装程序
Comment[zh_HK]=套件安裝程式
Comment[zh_TW]=套件安裝程式
Exec=remsu /usr/lib/sparky-aptus/bin/sparky-aptus-tools gdebi
Icon=gnome-mime-application-x-deb
Terminal=false
Type=Application
Categories=System;
MimeType=application/vnd.debian.binary-package;
X-Ubuntu-Gettext-Domain=GDebi
StartupNotify=true
Keywords=package;apt;dpkg;install
