[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=luckyBackup
Comment=Backup & Sync tool
Comment[ara]=أداة حفظ ومزامنة
Comment[bs]=Backup & Sync tool
Comment[bg]=Инструмент за бекъп и синхронизация
Comment[ca]=Eina de còpia de seguretat i sincronització
Comment[cs]=Zálohovací a seřizovací nástroj
Comment[nl]=Backup- & sync-toepassing
Comment[eo]=Savkopia & Sinkroniga ilo
Comment[et]=Backup & Sync tool
Comment[fr]=Outil de Sauvegarde & de Synchronisation
Comment[gl]=Ferramenta de copias de seguranza e sincronización
Comment[de]=Sicherungs & Synchronisations Werkzeug
Comment[el]=Εργαλείο αντιγράφων ασφαλείας & συγχρονισμού
Comment[it]=Strumento di Backup & Sincronizzazione
Comment[ja]=Backup & Sync tool
Comment[no]=Backup & Sync tool
Comment[pl]=Narzędzie do kopii zapasowych i synchronizacji
Comment[pt_BR]=Ferramente de Backup & Sincronização
Comment[pt_PT]=Ferramenta de Backup & Sincronização
Comment[ro]=Unealtă pentru backup & sincronizare
Comment[ru]=Резервное копирование и синхронизация
Comment[sk]=Backup & Sync tool
Comment[sl]=Orodje za usklajevanje in varnostne kopije
Comment[es]=Herramienta de respaldo y sincronización
Comment[sv]=Verktyg för säkerhetskopiering och synkronisering
Comment[tr]=Yedekleme & Şipşaklama aracı
Comment[vi]=Backup & Sync tool
Comment[zh_TW]=備份與同步工具
Exec=remsu /usr/lib/sparky-aptus/bin/sparky-aptus-tools luckybackup
Icon=luckybackup
Type=Application
Categories=Applications;System;
