[Desktop Entry]
Name=NVIDIA Settings
Comment=Configure the NVIDIA graphics driver
Exec=remsu /usr/lib/sparky-aptus/bin/sparky-aptus-tools nvidia-settings
Icon=nvidia
Terminal=false
Type=Application
Categories=System;
