[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=snapd
Comment=Tool to interact with Ubuntu Core Snappy
Exec=remsu /usr/lib/sparky-aptus/bin/sparky-aptus-tools snapd
Icon=applications-development
Type=Application
Categories=Applications;System;
