[Desktop Entry]
Name=Remove old DEB packages
Name[de]=Entferne alte DEB-Pakete
Name[el]=Διαγραφή παλιότερων πακέτων DEB
Name[es]=Eliminar todos los paquetes DEB viejos
Name[fr]=Supprimer les anciens paquets DEB
Name[id]=Hapus paket lama DEB
Name[it]=Rimuovi i vecchi pacchetti DEB
Name[ja]=古い DEB パッケージの削除
Name[pl]=Usuń stare pakiety DEB
Name[pt_BR]=Remover pacotes DEB antigos
Name[pt_PT]=Remover pacotes DEB antigos
Name[ru]=Удалить старые DEB-пакеты
Comment=Remove all old versions of DEB packages from the system
Comment[de]=Entfernt alle alten DEB-Pakete von dem System
Comment[el]=Διαγραφή όλων των παλαιότερων αρχείων DEB από το σύστημα
Comment[es]=Elimina de su sistema todas las versiones viejas de paquetes DEB
Comment[fr]=Supprimer tous les anciens paquets DEB du système
Comment[id]=Hapus semua versi lama paket DEB dari sistem
Comment[it]=Rimuove tutte le versioni vecchie dei pacchetti DEB dal sistema
Comment[ja]=システムから DEB パッケージの古いバージョンをすべて削除します
Comment[pl]=Usuń wszystkie stare pakiety DEB z systemu
Comment[pt_BR]=Remover todas as versões antigas dos pacotes DEB do sistema
Comment[pt_PT]=Remova todas as versões antigas dos pacotes DEB do sistema
Comment[ru]=Удалить все старые версии DEB-пакетов из системы
Exec=/usr/lib/sparky-aptus/bin/autoclean
Icon=user-trash-full
Terminal=false
Type=Application
Categories=System;
