[Desktop Entry]
Name=Remove unnecessary packages
Name[de]=Entferne unnötige Pakete
Name[el]=Διαγραφή αχρήστων πακέτων
Name[es]=Eliminar los paquetes innecesarios
Name[fr]=Supprimer les paquets inutiles
Name[id]=Hapus paket tak diperlukan
Name[it]=Rimuovi i pacchetti non necessari
Name[ja]=不要なパッケージを削除
Name[pl]=Usuń niepotrzebne pakiety
Name[pt_BR]=Remover pacotes desnecessários
Name[pt_PT]=Remove os pacotes desnecessários
Name[ru]=Удалить ненужные пакеты
Comment=Remove all unnecessary packages from the system
Comment[de]=Entfernt alle nicht mehr benötigten Pakete von dem System
Comment[el]=Διαγραφή όλων των άχρηστων πακέτων από το σύστημα
Comment[es]=Elimina de su sistema todos los paquetes innecesarios
Comment[fr]=Supprimer tous les paquets inutiles du système
Comment[id]=Hapus semua paket yang tidak diperlukan dari sistem
Comment[it]=Rimuove tutti i pacchetti non necessari dal sistema
Comment[ja]=システムから不要なパッケージをすべて削除します
Comment[pl]=Usuń niepotrzebne pakiety z systemu
Comment[pt_BR]=Remover todos os pacotes desnecessários do sistema
Comment[pt_PT]=Remove todos os pacotes desnecessários do sistema
Comment[ru]=Удалить все ненужные пакеты из системы
Exec=/usr/lib/sparky-aptus/bin/autoremove
Icon=application-x-trash
Terminal=false
Type=Application
Categories=System;
