[Desktop Entry]
Name=Remove unnecessary packages
Name[de_DE]=Entferne unnötige Pakete
Name[el_GR]=Διαγραφή αχρήστων πακέτων
Name[es_AR]=Eliminar los paquetes innecesarios
Name[fr_FR]=Supprimer les paquets inutiles
Name[it_IT]=Rimuovi i pacchetti non necessari
Name[ja_JP]=不要なパッケージを削除
Name[pl_PL]=Usuń niepotrzebne pakiety
Name[pt_BR]=Remover pacotes desnecessários
Name[pt_PT]=Remove os pacotes desnecessários
Name[ru_RU]=Удалить ненужные пакеты
Comment=Remove all unnecessary packages from the system
Comment[de_DE]=Entfernt alle nicht mehr benötigten Pakete von dem System
Comment[el_GR]=Διαγραφή όλων των άχρηστων πακέτων από το σύστημα
Comment[es_AR]=Elimina de su sistema todos los paquetes innecesarios
Comment[fr_FR]=Supprimer tous les paquets inutiles du système
Comment[it_IT]=Rimuove tutti i pacchetti non necessari dal sistema
Comment[ja_JP]=システムから不要なパッケージをすべて削除します
Comment[pl_PL]=Usuń niepotrzebne pakiety z systemu
Comment[pt_BR]=Remove todos pacotes desnecessários do sistema
Comment[pt_PT]=Remove todos os pacotes desnecessários do sistema
Comment[ru_RU]=Удалить все ненужные пакеты из системы
Exec=/usr/lib/sparky-aptus/bin/autoremove
Icon=application-x-trash
Terminal=false
Type=Application
Categories=System;
