[Desktop Entry]
Name=Upgrade the system
Name[de_DE]=Upgrade das System
Name[el_GR]=Ενημέρωση συστήματος
Name[es_AR]=Actualizar el sistema
Name[fr_FR]=Mettre à jour le système
Name[id_ID]=Dist-Upgrade sistem
Name[it_IT]=Aggiorna il sistema
Name[ja_JP]=システムのアップグレード
Name[pl_PL]=Pełna aktualizacja systemu
Name[pt_BR]=Atualizar completamente (Upgrade) o sistema
Name[pt_PT]=Atualizar o sistema
Name[ru_RU]=Обновить систему
Comment=Fully upgrade the system
Comment[de_DE]=Startet das Upgrade für das komplette System
Comment[el_GR]=Πλήρης ενημέρωση συστήματος
Comment[es_AR]=Actualiza completamente el sistema
Comment[fr_FR]=Mettre complètement à jour le système
Comment[id_ID]=Upgrade penuh sistem
Comment[it_IT]=Aggiorna tutto il sistema
Comment[ja_JP]=完全にシステムをアップグレードします
Comment[pl_PL]=Pełna aktualizacja systemu
Comment[pt_BR]=Atualizar integralmente (Upgrade) o sistema
Comment[pt_PT]=Atualiza completamente o sistema
Comment[ru_RU]=Полностью обновить систему
Exec=/usr/lib/sparky-aptus/bin/dist-upgrade
Icon=system-software-update
Terminal=false
Type=Application
Categories=System;
