[Desktop Entry]
Name=Upgrade the system
Name[de]=Upgrade das System
Name[el]=Ενημέρωση συστήματος
Name[es]=Actualizar el sistema
Name[fr]=Mettre à jour le système
Name[id]=Dist-Upgrade sistem
Name[it]=Aggiorna il sistema
Name[ja]=システムのアップグレード
Name[pl]=Pełna aktualizacja systemu
Name[pt_BR]=Atualizar o sistema
Name[pt_PT]=Atualizar o sistema
Name[ru]=Обновить систему
Comment=Fully upgrade the system
Comment[de]=Startet das Upgrade für das komplette System
Comment[el]=Πλήρης ενημέρωση συστήματος
Comment[es]=Actualiza completamente el sistema
Comment[fr]=Mettre complètement à jour le système
Comment[id]=Upgrade penuh sistem
Comment[it]=Aggiorna tutto il sistema
Comment[ja]=完全にシステムをアップグレードします
Comment[pl]=Pełna aktualizacja systemu
Comment[pt_BR]=Atualizar completamente o sistema
Comment[pt_PT]=Atualiza completamente o sistema
Comment[ru]=Полностью обновить систему
Exec=/usr/lib/sparky-aptus/bin/dist-upgrade
Icon=system-software-update
Terminal=false
Type=Application
Categories=System;
