[Desktop Entry]
Name=Edit custom repositories
Name[de_DE]=Editieren der Benutzer Repositories
Name[el_GR]=Επεξεργασία δευτερευόντων αποθετηρίων
Name[es_AR]=Editar la lista de repositorios personalizados
Name[fr_FR]=Editer les dépôts personnalisés
Name[id_ID]=Edit repositori kustom
Name[it_IT]=Modifica le repositories personalizzate
Name[ja_JP]=カスタムリボジトリの編集
Name[pl_PL]=Edycja dodatkowych repozytoriów
Name[pt_BR]=Editar repositórios customizados
Name[pt_PT]=Editar repositórios personalizados
Name[ru_RU]=Редактировать пользовательские репозитории
Comment=Edit custom repository lists
Comment[de_DE]=Anpassen der Benutzer Repository Liste
Comment[el_GR]=Επεξεργασία λιστών δευτερευόντων αποθετηρίων
Comment[es_AR]=Edita la lista de repositorios personalizados
Comment[fr_FR]=Editer la liste des dépôts personnalisés
Comment[id_ID]=Edit daftar repositori kustom
Comment[it_IT]=Modifica la lista delle repositories
Comment[ja_JP]=カスタムリボジトリリストを編集します
Comment[pl_PL]=Edycja listy dodatkowych repozytoriów
Comment[pt_BR]=Editar as listas de repositórios customizados
Comment[pt_PT]=Editar listas personalizadas de repositórios
Comment[ru_RU]=Редактировать списки пользовательских репозиториев
Exec=/usr/lib/sparky-aptus/bin/edit-repo-custom
Icon=text-x-readme
Terminal=false
Type=Application
Categories=System;
