[Desktop Entry]
Name=Edit custom repositories
Name[de]=Editieren der Benutzer Repositories
Name[el]=Επεξεργασία δευτερευόντων αποθετηρίων
Name[es]=Editar la lista de repositorios personalizados
Name[fr]=Editer les dépôts personnalisés
Name[id]=Edit repositori kustom
Name[it]=Modifica le repositories personalizzate
Name[ja]=カスタムリボジトリの編集
Name[pl]=Edycja dodatkowych repozytoriów
Name[pt_BR]=Editar repositórios personalizados
Name[pt_PT]=Editar repositórios personalizados
Name[ru]=Редактировать пользовательские репозитории
Comment=Edit custom repository lists
Comment[de]=Anpassen der Benutzer Repository Liste
Comment[el]=Επεξεργασία λιστών δευτερευόντων αποθετηρίων
Comment[es]=Edita la lista de repositorios personalizados
Comment[fr]=Editer la liste des dépôts personnalisés
Comment[id]=Edit daftar repositori kustom
Comment[it]=Modifica la lista delle repositories
Comment[ja]=カスタムリボジトリリストを編集します
Comment[pl]=Edycja listy dodatkowych repozytoriów
Comment[pt_BR]=Editar listas de repositórios personalizados
Comment[pt_PT]=Editar listas personalizadas de repositórios
Comment[ru]=Редактировать списки пользовательских репозиториев
Exec=/usr/lib/sparky-aptus/bin/edit-repo-custom
Icon=text-x-readme
Terminal=false
Type=Application
Categories=System;
