[Desktop Entry]
Name=Fix broken packages by APT
Name[de]=Repariere von APT beschädigte Pakete
Name[el]=Επιδιόρθωση κατεστραμμένων πακέτων με την εντολή APT
Name[es]=Reparar paquetes rotos mediante APT
Name[fr]=Réparer avec APT les paquets cassés
Name[id]=Perbaiki paket rusak oleh APT
Name[it]=Aggiusta i pacchetti danneggiati con APT
Name[ja]=APT 破損パッケージの修正
Name[pl]=Napraw uszkodzone pakiety za pomocą APT
Name[pt_BR]=Corrigir pacotes quebrados pelo APT
Name[pt_PT]=Corrigir pacotes danificados por o APT
Name[ru]=Исправить сломанные пакеты с помощью APT
Name[zh_CN]=使用 APT 修复破损软件包
Comment=Check and fix by APT broken packages not installed/upgraded correctly
Comment[de]=Prüft und repariert Pakete, die von APT nicht korrekt installiert/aktualisiert wurden
Comment[el]=Έλεγχος και διόρθωση κατεστραμμένων πακέτων που δεν εγκαταστάθηκαν/ενημερώθηκαν σωστά, με την εντολή APT
Comment[es]=Verifica y repara mediante APT los paquetes rotos no instalados/actualizados correctamente
Comment[fr]=Vérifier et réparer avec APT les paquets cassés non-installés:mis à jour correctement
Comment[id]=Periksa dan perbaiki paket rusak oleh APT, yang tidak di-instal atau di-upgrade dengan benar
Comment[it]=Controlla ed aggiusta col comando APT i pacchetti danneggiati o non installati/aggiornati correttamente
Comment[ja]=APT でインストール・更新できない壊れたパッケージを確認・修正します
Comment[pl]=Sprawdź i napraw uszkodzone pakiety za pomocą APT
Comment[pt_BR]=Verificar e corrigir por pacotes quebrados do APT não instalados / atualizados corretamente
Comment[pt_PT]=Verifica e corrige os pacotes danificados que foram instalados / atualizados corretamente pelo APT
Comment[ru]=Проверить и исправить с помощью APT сломанные пакеты, некорректно установленные/обновлённые
Comment[zh_CN]=使用 APT 检查并修复没有被正确安装的破损的软件包
Exec=/usr/lib/sparky-aptus/bin/fix-apt
Icon=system-software-install
Terminal=false
Type=Application
Categories=System;
