[Desktop Entry]
Name=Install or reinstall DEB package from a local disk
Name[de]=Installiere oder reinstalliere DEB package aus einer lokalen Quelle
Name[el]=Εγκατάσταση/επανεγκατάσταση πακέτου DEB από τοπικό δίσκο
Name[es]=Instalar o reinstalar paquetes DEB de su disco local
Name[fr]=Installer ou réinstaller un paquet DEB depuis un disque local
Name[id]=Instal atau re-instal paket DEB dari disk lokal
Name[it]=Installa o reinstalla pacchetti DEB da un disco locale
Name[ja]=ローカルディスク DEB パッケージ インストール・再インストール
Name[pl]=Instalacja lub reinstalacja pakietu DEB z dysku
Name[pt_BR]=Instalar ou reinstalar o pacote DEB a partir de um disco local
Name[pt_PT]=Instalar ou reinstalar o pacote DEB de um disco local
Name[ru]=Установить или переустановить DEB-пакет с локального диска
Comment=Install or reinstall DEB package from a local disk
Comment[de]=Installiert bzw. installiert ein DEB Paket erneut
Comment[el]=Εγκατάσταση/επανεγκατάσταση πακέτου DEB από τοπικό δίσκο
Comment[es]=Instala o reinstala paquetes DEB de su disco local
Comment[fr]=Installer ou réinstaller un paquet DEB depuis un disque local
Comment[id]=Instal atau instal ulang paket DEB dari disk lokal
Comment[it]=Installa o reinstalla pacchetti DEB daun disco locale
Comment[ja]=ローカルディスクから DEB パッケージ インストール・再インストールを行います
Comment[pl]=Instalacja lub reinstalacja pakietu DEB z dysku
Comment[pt_BR]=Instalar ou reinstalar o pacote DEB a partir de um disco local
Comment[pt_PT]=Instalar ou reinstalar o pacote DEB de um disco local
Comment[ru]=Установить или переустановить DEB-пакет с локального диска
Exec=/usr/lib/sparky-aptus/bin/install-deb
Icon=application-x-deb
Terminal=false
Type=Application
Categories=System;
