[Desktop Entry]
Name=Remove Non-Free packages
Name[de]=Entferne die Non-Free Pakete
Name[el]=Απεγκατάσταση των πακέτων Non-Free
Name[es]=Eliminar los paquetes Non-Free
Name[fr]=Supprimer les paquets Non-libres
Name[id]=Hapus Paket Non-Free
Name[it]=Rimuovi i pacchetti Non-Free
Name[ja]=Non-Free パッケージの削除
Name[pl]=Usuń pakiety niewolne
Name[pt_BR]=Remover pacotes não-livres
Name[pt_PT]=Remove o pacotes que não são gratuitos
Name[ru]=Удалить несвободные пакеты
Comment=Remove Non-Free and Restricted packages from the system
Comment[de]=Entfernt die Non-Free und Restricted Pakete von dem System
Comment[el]=Απεγκατάσταση των Non-Free και πακέτων με περιορισμούς από το σύστημα
Comment[es]=Elimina de su sistema los paquetes Non-Free y Restricted
Comment[fr]=Supprimer les paquets Non-libres et de droits restreints du système
Comment[id]=Hapus paket Non-Free dan Restricted dari sistem
Comment[it]=Rimuove i pacchetti "Non-Free" e "Restricted" dal sistema
Comment[ja]=システムから非フリー・制限付きパッケージを削除します
Comment[pl]=Usuń z systemu pakiety Non-Free oraz Restricted
Comment[pt_BR]=Remover pacotes não-livres e restritos do sistema
Comment[pt_PT]=Remove o pacotes que não são gratuitos e restritos do sistema
Comment[ru]=Удалить несвободные и ограниченные пакеты из системы
Exec=/usr/lib/sparky-aptus/bin/nonfree-remove
Icon=system-software-install
Terminal=false
Type=Application
Categories=System;
