[Desktop Entry]
Name=Remove Non-Free packages
Name[de_DE]=Entferne die Non-Free Pakete
Name[el_GR]=Απεγκατάσταση των πακέτων Non-Free
Name[es_AR]=Eliminar los paquetes Non-Free
Name[fr_FR]=Supprimer les paquets Non-libres
Name[id_ID]=Hapus Paket Non-Free
Name[it_IT]=Rimuovi i pacchetti Non-Free
Name[ja_JP]=Non-Free パッケージの削除
Name[pl_PL]=Usuń pakiety niewolne
Name[pt_BR]=Remover pacotes Não-Livres
Name[pt_PT]=Remove o pacotes que não são gratuitos
Name[ru_RU]=Удалить несвободные пакеты
Comment=Remove Non-Free and Restricted packages from the system
Comment[de_DE]=Entfernt die Non-Free und Restricted Pakete von dem System
Comment[el_GR]=Απεγκατάσταση των πακέτων Non-Free και Restricted από το σύστημα
Comment[es_AR]=Elimina de su sistema los paquetes Non-Free y Restricted
Comment[fr_FR]=Supprimer les paquets Non-libres et de droits restreints du système
Comment[id_ID]=Hapus paket Non-Free dan Restricted dari sistem
Comment[it_IT]=Rimuove i pacchetti "Non-Free" e "Restricted" dal sistema
Comment[ja_JP]=システムから非フリー・制限付きパッケージを削除します
Comment[pl_PL]=Usuń z systemu pakiety Non-Free oraz Restricted
Comment[pt_BR]=Remover pacotes Não-Livres e Restritos do sistema
Comment[pt_PT]=Remove o pacotes que não são gratuitos e restritos do sistema
Comment[ru_RU]=Удалить несвободные и ограниченные пакеты из системы
Exec=/usr/lib/sparky-aptus/bin/nonfree-remove
Icon=system-software-install
Terminal=false
Type=Application
Categories=System;
