[Desktop Entry]
Name=Install packages from repository
Name[de_DE]=Installiere Pakete aus den Repository
Name[el_GR]=Εγκατάσταση από αποθετήριο
Name[es_AR]=Instalar paquetes desde el repositorio
Name[fr_FR]=Installer des paquets depuis les dépôts
Name[id_ID]=Instal paket dari repositori
Name[it_IT]=Installa i pacchetti dalle repository
Name[ja_JP]=リボジトリからパッケージをインストール
Name[pl_PL]=Instalacja pakietów z repozytorium
Name[pt_BR]=Instalar pacotes do repositório
Name[pt_PT]=Instalar os pacotes do repositório
Name[ru_RU]=Установить пакеты из репозитория
Comment=Install packages from repository
Comment[de_DE]=Installiert Pakete aus den Repository
Comment[el_GR]=Εγκατάσταση από αποθετήριο
Comment[es_AR]=Instala paquetes desde el repositorio
Comment[fr_FR]=Installer des paquets depuis les dépôts
Comment[id_ID]=Instal paket dari repositori
Comment[it_IT]=Installa i pacchetti dalle repository
Comment[ja_JP]=リボジトリからパッケージをインストールします
Comment[pl_PL]=Instalacja pakietów z repozytorium
Comment[pt_BR]=Instalar pacotes do repositório
Comment[pt_PT]=Instala os pacotes do repositório
Comment[ru_RU]=Установить пакеты из репозитория
Exec=/usr/lib/sparky-aptus/bin/quick-install
Icon=application-x-deb
Terminal=false
Type=Application
Categories=System;
