[Desktop Entry]
Name=Install packages from repository
Name[de]=Installiere Pakete aus den Repository
Name[el]=Εγκατάσταση από αποθετήριο
Name[es]=Instalar paquetes desde el repositorio
Name[fr]=Installer des paquets depuis les dépôts
Name[id]=Instal paket dari repositori
Name[it]=Installa i pacchetti dalle repository
Name[ja]=リボジトリからパッケージをインストール
Name[pl]=Instalacja pakietów z repozytorium
Name[pt_BR]=Instalar pacotes do repositório
Name[pt_PT]=Instalar os pacotes do repositório
Name[ru]=Установить пакеты из репозитория
Comment=Install packages from repository
Comment[de]=Installiert Pakete aus den Repository
Comment[el]=Εγκατάσταση από αποθετήριο
Comment[es]=Instala paquetes desde el repositorio
Comment[fr]=Installer des paquets depuis les dépôts
Comment[id]=Instal paket dari repositori
Comment[it]=Installa i pacchetti dalle repository
Comment[ja]=リボジトリからパッケージをインストールします
Comment[pl]=Instalacja pakietów z repozytorium
Comment[pt_BR]=Instalar pacotes do repositório
Comment[pt_PT]=Instala os pacotes do repositório
Comment[ru]=Установить пакеты из репозитория
Exec=/usr/lib/sparky-aptus/bin/quick-install
Icon=application-x-deb
Terminal=false
Type=Application
Categories=System;
