[Desktop Entry]
Name=Search packages from repository
Name[el]=Αναζήτηση πακέτων από τα αποθετήρια
Name[it]=Cerca i pacchetti nei repositories
Name[ja]=リポジトリからパッケージを検索
Name[pl]=Wyszukaj pakiety w repozytoriach
Name[pt_BR]=Pesquisar pacotes do repositório
Name[zh_CN]=从软件源中搜索软件包
Comment=Search packages from repository
Comment[el]=Αναζήτηση πακέτων από τα αποθετήρια
Comment[it]=Cerca i pacchetti nei repositories
Comment[ja]=リポジトリからパッケージを検索します
Comment[pl]=Wyszukaj pakiety w repozytoriach
Comment[pt_BR]=Pesquisa os pacotes do repositório
Comment[zh_CN]=从软件源中搜索软件包
Exec=/usr/lib/sparky-aptus/bin/quick-list
Icon=search
Terminal=false
Type=Application
Categories=System;
