[Desktop Entry]
Name=Remove package from system
Name[de_DE]=Entferne Pakete von dem System
Name[el_GR]=Απεγκατάσταση πακέτου από το σύστημα
Name[es_AR]=Eliminar paquetes de su sistema
Name[fr_FR]=Supprimer des paquets du système
Name[id_ID]=Hapus paket dari sistem
Name[it_IT]=Rimuovi un pacchetto dal sistema
Name[ja_JP]=システムからパッケージを削除
Name[pl_PL]=Usuń pakiet
Name[pt_BR]=Remover um pacote do sistema
Name[pt_PT]=Remove o pacote de sistema
Name[ru_RU]=Удалить пакет из системы
Comment=Remove selected package from the system
Comment[de_DE]=Entfernt ausgewählte Pakete von dem System
Comment[el_GR]=Απεγκατάσταση επιλεγμένου πακέτου από το σύστημα
Comment[es_AR]=Elimina paquetes seleccionados de su sistema
Comment[fr_FR]=Supprimer des paquets sélectionnés du système
Comment[id_ID]=Hapus paket yang dipilih dari sistem
Comment[it_IT]=Rimuove il pacchetto selezionato dal sistema
Comment[ja_JP]=選択されたパッケージをシステムから削除します
Comment[pl_PL]=Usunięcie wybranego pakietu z systemu
Comment[pt_BR]=Remover um pacote selecionado do sistema
Comment[pt_PT]=Remove o pacote selecionado do sistema
Comment[ru_RU]=Удалить выбранный пакет из системы
Exec=/usr/lib/sparky-aptus/bin/quick-remove
Icon=application-x-deb
Terminal=false
Type=Application
Categories=System;
