[Desktop Entry]
Name=Refresh package list
Name[de]=Aktualisiere die Paket Liste
Name[el]=Ανανέωση της λίστας πακέτων
Name[es]=Actualizar la lista de paquetes
Name[fr]=Actualiser la liste des paquets
Name[id]=Refresh daftar paket
Name[it]=Aggiorna la lista dei pacchetti
Name[ja]=パッケージリストの更新
Name[pl]=Aktualizacja listy pakietów
Name[pt_BR]=Atualizar lista de pacotes
Name[pt_PT]=Çista de pacotes de atualização
Name[ru]=Обновить список пакетов
Comment=Update package list
Comment[de]=Bringt die Paket Liste auf den neusten Stand
Comment[el]=Ανανέωση της λίστας πακέτων
Comment[es]=Actualiza la lista de paquetes
Comment[fr]=Actualiser la liste des paquets
Comment[id]=Perbarui daftar paket
Comment[it]=Aggiorna la lista dei pacchetti
Comment[ja]=パッケージリストを更新します
Comment[pl]=Aktualizacja listy pakietów
Comment[pt_BR]=Atualizar lista de pacotes
Comment[pt_PT]=Lista de pacote de atualização
Comment[ru]=Обновить список пакетов
Exec=/usr/lib/sparky-aptus/bin/update
Icon=view-refresh
Terminal=false
Type=Application
Categories=System;
