[Desktop Entry]
Name=Safely upgrade the system
Name[de]=System sicher upgraden
Name[el]=Ασφαλής ενημέρωση συστήματος
Name[es]=Actualizar su sistema en forma segura
Name[fr]=Mettre à jour le système de façon sure
Name[id]=Upgrade sistem
Name[it]=Aggiornamento sicuro del sistema
Name[ja]=安全にシステムをアップグレード
Name[pl]=Bezpieczna aktualizacja systemu
Name[pt_BR]=Atualize com segurança o sistema
Name[pt_PT]=Atualiza o sistema com segurança
Name[ru]=Безопасно обновить систему
Comment=Safely upgrade the system
Comment[de]=System sicher upgraden
Comment[el]=Ασφαλής ενημέρωση συστήματος
Comment[es]=Actualiza su sistema en forma segura
Comment[fr]=Mettre à jour le système de façon sure
Comment[id]=Upgrade sistem secara aman
Comment[it]=Aggiornamento sicuro del sistema
Comment[ja]=安全にシステムをアップグレードします
Comment[pl]=Bezpieczna aktualizacja systemu
Comment[pt_BR]=Atualize o sistema com segurança
Comment[pt_PT]=Atualiza o sistema com segurança
Comment[ru]=Безопасно обновить систему
Exec=/usr/lib/sparky-aptus/bin/upgrade
Icon=system-software-installer
Terminal=false
Type=Application
Categories=System;
